@model  List<NPGeek.Web.Models.Weather>


<div class="weather">
    <div class="todays-weather">
        <img id="weather-img" src="~/Content/weather/@(Model[0].ImageName).png" />
        <span>@Model[0].DisplayDailyHigh </span>
        <span>@Model[0].DisplayDailyLow </span>
        <span class="message">@Model[0].ForecastMessage @Model[0].TempetureMessage</span>
    </div>

    @for (int i = 1; i < Model.Count; i++)
    {
        <div class="week-weather">
            <img id="weather-week-img" src="~/Content/weather/@(Model[i].ImageName).png" />
            <span>High: @Model[i].DisplayDailyHigh</span>
            <span>Low: @Model[i].DisplayDailyLow</span>
        </div>
    }


    <form method="post" action="@Url.Action("Index", "Weather")">
        Change Units
        <select name="tempUnit">
            <option value="Farenheight">Farenheight</option>
            <option value="Celcius">Celcius</option>
        </select>
        <input type="hidden" name="parkCode" value="@Model[0].ParkCode" />
        <button>Submit</button>
    </form>


</div>
